$th-text-default: white;
$th-text-html-tag: #499feb;
$th-text-faded: darken(white, 20%);
$th-text-special: #a19989;

$th-bg-light: #424242;
$th-bg: #212121;
$th-bg-dark: #181818;

$th-border: #424242;
