@import 'variables';

#hierarchy {
    .node {
        font-size: 1rem;
        color: $th-text-html-tag;

        .node-name {
            margin: 0;

            &:hover {
                cursor: pointer;
                background-color: #424242;
            }

            .classes {
                font-size: 0.8rem;
                color: $th-text-faded;
            }

            .id {
                font-size: 0.8rem;
                color: $th-text-special;
            }
        }

        .node-children {
            list-style: none;
            margin: 0;
            padding-left: 10px;
            border-left: 2px solid #424242;
        }
    }
}
