@import 'variables';

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: white;

    .container {
        display: flex;
        flex-direction: row;
        height: 100%;

        .left {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;

            #hierarchy {
                flex: 1;
            }

            #file-browser {
                flex: 1;
            }
        }

        .center {
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;

            #viewport {
                flex: 2;
                background-color: white;
                overflow-y: auto;
                color: black;
            }

            #console {
                flex: 1;
            }
        }

        .right {
            height: 100%;
            width: 20%;

            #inspector {
                height: 100%;
            }
        }
    }
}

.editor-window {
    box-sizing: border-box;
    background-color: #212121;
    border: 1px solid #424242;

    .editor-window-header {
        h3 {
            margin: 0;
            font-size: 1.2rem;
            color: $th-text-faded;
        }

        border-bottom: #424242 1px solid;
        padding-left: 10px;
    }

    .editor-window-content {
        padding: 10px;
        overflow-y: auto;
    }
}

@import 'Hierarchy.scss';
@import 'File-Browser.scss';
